statemachine/statemachineTemplate.asl.json
{
  "Comment": "State Machine with conditional logic and parallel execution for regions",
  "StartAt": "DetermineRegionType",
  "States": {
    "DetermineRegionType": {
      "Type": "Task",
      "Resource": "${StarterFunction}",
      "ResultPath": "$.starterResponse",
      "Next": "CheckRegionList"
    },
    "CheckRegionList": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            { "Variable": "$.region[0]", "StringEquals": "us-east-1" },
            { "Variable": "$.region[1]", "StringEquals": "us-west-2" }
          ],
          "Next": "ExecuteBothFunctionsInParallel"
        },
        {
          "And": [
            { "Variable": "$.region[0]", "StringEquals": "us-west-2" },
            { "Variable": "$.region[1]", "StringEquals": "us-east-1" }
          ],
          "Next": "ExecuteBothFunctionsInParallel"
        },
        {
          "Variable": "$.region[0]",
          "StringEquals": "us-east-1",
          "Next": "DetermineApplication"
        },
        {
          "Variable": "$.region[0]",
          "StringEquals": "us-west-2",
          "Next": "DetermineApplication"
        }
      ],
      "Default": "InvalidParameters"
    },
    "CheckRegionString": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.region",
          "StringEquals": "us-east-1",
          "Next": "DetermineApplication"
        },
        {
          "Variable": "$.region",
          "StringEquals": "us-west-2",
          "Next": "DetermineApplication"
        }
      ],  
      "Default": "InvalidParameters"
    },
    "DetermineApplication":{
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.starterResponse.runApplication1",
          "BooleanEquals": true,
          "Next": "RunApplication1"
        },
        {
          "Variable": "$.starterResponse.runApplication2",
          "BooleanEquals": true,
          "Next": "RunApplication2"
        }
      ]
    },
    "RunApplication1": {
      "Type": "Task",
      "Resource": "${Application1}",
      "Parameters": {
        "region": "us-east-1",
        "operation": "operation_in_us_east_1"
      },
      "Next": "EndState"
    },
    "RunApplication2": {
      "Type": "Task",
      "Resource": "${Application2}",
      "Parameters": {
        "region": "us-west-2",
        "operation": "operation_in_us_west_2"
      },
      "Next": "EndState"
    },
    "ExecuteBothFunctionsInParallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "FunctionExecutionForUSEast",
          "States": {
            "FunctionExecutionForUSEast": {
              "Type": "Task",
              "Resource": "${Application1}",
              "Parameters": {
                "region": "us-east-1",
                "operation": "operation_in_us_east_1"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "FunctionExecutionForUSWest",
          "States": {
            "FunctionExecutionForUSWest": {
              "Type": "Task",
              "Resource": "${Application2}",
              "Parameters": {
                "region": "us-west-2",
                "operation": "operation_in_us_west_2"
              },
              "End": true
            }
          }
        }
      ],
      "Next": "EndState"
    },
    "InvalidRegionFormat": {
      "Type": "Fail",
      "Error": "InvalidRegionFormat",
      "Cause": "The 'region' parameter must be a string or a list."
    },
    "InvalidParameters": {
      "Type": "Fail",
      "Error": "InvalidParameterError",
      "Cause": "The input parameters are invalid. Expected regions: 'us-east-1' and/or 'us-west-2'."
    },
    "EndState": {
      "Type": "Succeed"
    }
  }
}
